<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/product.css">
  <link rel="stylesheet" href="../css/news.css">
  <link rel="stylesheet" href="../css/news-detail.css">
  <link rel="stylesheet" href="../css/contactus.css">

</head>
<body>
  <div class="container">
	   <div class="header">
       <div class="header-wrap">
            <div class="header-left">
                 <img src="../images/img_03.gif" alt="">
             </div> 
            <div class="header-right">
                  <span><img src="../images/img_06.gif" alt=""></span>
                  <span><img src="../images/img_08.gif" alt=""></span>
                  <span><img src="../images/img_10.gif" alt=""></span>
            </div> 
       </div> 

         
	   </div>

	<div class="content">

	     <div class="line">
            <div class="nav">
      	        <ul>
      	             <li class="bottom"><a href="./../index.html">首页</a><i class="line-top line12"></i></li>
      	             <li><a href="./product.html">产品中心</a><i class="line-top"></i></li>
      	             <li><a href="./newscenter.html">新闻中心</a><i class="line-top"></i></li>
      	             <li><a href="./corp-intro.html">公司介绍</a><i class="line-top"></i></li>
      	             <li><a href="./contact-us.html" class="product">联系我们</a><i class="line-bottom"></i></li>
      	         </ul>
  	        </div>
      </div>

      <div class="banner1 banner4">
            <img src="../images/message.png" alt=""/>
      </div> 
</div>

<div class="contact-main">
      <div class="img-line"><img src="../images/message02.png" alt=""></div>
      <div class="map">
            <div class="map-wrap">
                  <div class="main-map"><img src="../images/map.png" alt=""></div>
                  <div class="info">
                       <div class="name">
                            <i><img src="../images/name.png" alt=""></i>
                            <p>公司名称：</p>
                            <p>北京格林美居装饰工程有限公司</p>
                       </div>
                       <div class="name tel">
                            <i><img src="../images/tel.png" alt=""></i>
                            <p>联系方式：</p>
                            <p>0771-282931</p>
                       </div>
                        <div class="name">
                            <i><img src="../images/adress.png" alt=""></i>
                            <p>公司地址：</p>
                            <p>北京市大兴区孙村工业区53号</p>
                       </div>                       
                  </div>

                  <div class="insert-info">
                       <input type="text" value="" class="insert"/>
                       <input type="text" value="" placeholder="e-mail :" class="insert"/>
                       <input type="text" value="" placeholder="联系电话 :" class= "insert" />
                  </div>
                  <div class="message">
                     <textarea name="留言" id="" placeholder="留言：" cols="60" rows="10"></textarea>
                  </div>
                  <div class="done">
                        <input type="button" value="提交" >
                  </div>
            </div>

      </div>
</div>



 <div class="footer footer1">
     
        <div class="footer-wrap footer1"> 

            <div class="footer-nav">

                 <ul>
                     <li><a href="./../index.html">网站首页</a></li>
                     <li><i></i><a href="./corp-intro.html">公司介绍</a></li>
                     <li><i></i><a href="./product.html">产品中心</a></li>
                     <li><i></i><a href="./product - detail.html">产品详情</a></li>
                     <li><i></i><a href="./newscenter.html">新闻中心</a></li>
                     <li><i></i><a href="./newsdetail.html">新闻详情</a></li>
                     <li><i></i><a href="contact-us.html">联系方式</a></li>
                     <li><i></i><a href="#">人才招聘</a></li>

                 </ul>
                 <p>&copy;2017 北京格林家居装饰工程有限公司 版权所有</p>
            </div>

        </div>
 
  </div>
</body>
</html>