<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公司介绍</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/product.css">
  <link rel="stylesheet" href="../css/news.css">
  <link rel="stylesheet" href="../css/news-detail.css">
  <link rel="stylesheet" href="../css/corp.css">
  


</head>
<body>
  <div class="container">


	   <div class="header">
       <div class="header-wrap">
            <div class="header-left">
                 <img src="../images/img_03.gif" alt="">
             </div> 
            <div class="header-right">
                  <span><img src="../images/img_06.gif" alt=""></span>
                  <span><img src="../images/img_08.gif" alt=""></span>
                  <span><img src="../images/img_10.gif" alt=""></span>
            </div> 
       </div>   
	   </div>
 



	<div class="content">

	     <div class="line">
            <div class="nav">
      	        <ul>
      	             <li class="bottom"><a href="./../index.html">首页</a><i class="line-top line12"></i></li>
      	             <li><a href="./product.html">产品中心</a><i class="line-top"></i></li>
      	             <li><a href="./newscenter.html">新闻中心</a><i class="line-top"></i></li>
      	             <li><a href="./corp-intro.html" class="product">公司介绍</a><i class="line-bottom"></i></li>
      	             <li><a href="./contact-us.html">联系我们</a><i class="line-top"></i></li>
      	         </ul>
  	        </div>
      </div>

     
      <div class="line3"></div>

  </div>

  <div class="newcontent">

    <div class="new-wrap">
        <div class="banner">
            <div class="corp-banner"><img src="../images/corp.png" alt=""></div>
            <div class="concept">
                <p>服务理念：</p>
                <p>至勤至精，至诚至善。</p>
            </div>
        </div>

        <div class="corp-img">
             <div class="img-first">
                  
                      <div class="img-left"><img src="../images/clock.png" alt=""></div>
                      <div class="middle-img"><img src="../images/swin01.png" alt=""></div>
                      <div class="img-right"><img src="../images/004.png" alt=""></div>
             </div>

             <div class="img-sec">
                   <div class="sec-left"><img src="../images/011.png" alt=""></div>

                   <div class="main-product">
                        <div class="main-w">
                            <p>主营业务/产品：</p>
                            <p>装饰工程。</p>
                        </div>
                         
                         <div class="sec-middle"><img src="../images/building2.png" alt=""></div>
                   </div>

                   <div class="sec-right needle"><img src="../images/007.png" alt=""></div>
                   <div class="sec-left intro-pro">
                           <h5>公司简介</h5>
                           <p>格林美居装饰工程有限公司是一家新型的出口型综合性企业，专业从事各类户外帐篷及篷布和帆布制品的设计开发、生产与销售。公司主营：苫布、篷布、各种帐篷、防汛沙袋、帆布、门帘、防火布、充气水池、支架游泳池等产品。公司从成立之初至今凭借一批熟练技工的精湛技艺和以诚信为本的销售策略，短短几年间已经从作坊式生产转型为规模化、体制化、精密化的现代企业。</p>
                   </div>
                   <div class="sec-right"><img src="../images/010.png" alt=""></div>
             </div>


             <div class="img-thd">
                  <div class="thd-left"><img src="../images/001.png" alt=""></div>
                  <div class="thd-right">
                        <i><img src="../images/006.png" alt=""></i>
                        <div class="word-r"> 
                             <h5>公司性质</h5>
                             <p>我公司坚持 “精益求精、诚信为本”的原则，热情执着，努力不懈，不断开发新产品。我们拥有健全的组织机构，并且我们的团队不断地壮大，为客户提供最优质、最贴心的服务。目前，公司产品已远销欧洲、中东、尼日利亚、委内瑞拉及日本等多个国家。几年来，我们的产品屡次出现在钻井油田、野外勘探、国外施工、车船码头、货车苫盖的各个领域。</p>
                         </div>
                    </div>
                        
                  <div class="thd-middle">
                         <h4>格林美居有话说</h4>
                         <p>格林美居是真正的厂家直销，本本分分做产品，多年来诚信经营积累了大量的老客户，始终坚持精益求精，诚信为本的原则，真诚对待每一位客户，厂家直销，质量好，价格低，品质有保障，有需要可以随时联系，我相信一次的购物，您就会永久的选择我们，祝您生活愉快，每天都有好心情！</p>
                  </div>
                  <div class="cal"><img src="../images/009.png" alt=""></div>

             </div>
        </div>

       
             
    </div>
     

   <div class="line4"></div>

</div>
<div class="footer footer1">
     
        <div class="footer-wrap footer1"> 

            <div class="footer-nav">

                 <ul>
                     <li><a href="./../index.html">网站首页</a></li>
                     <li><i></i><a href="./corp-intro.html">公司介绍</a></li>
                     <li><i></i><a href="./product.html">产品中心</a></li>
                     <li><i></i><a href="./product - detail.html">产品详情</a></li>
                     <li><i></i><a href="./newscenter.html">新闻中心</a></li>
                     <li><i></i><a href="./newsdetail.html">新闻详情</a></li>
                     <li><i></i><a href="./contact-us.html">联系方式</a></li>
                     <li><i></i><a href="#">人才招聘</a></li>

                 </ul>
                 <p>&copy;2017 北京格林家居装饰工程有限公司 版权所有</p>
            </div>

        </div>



</div>



	
</body>
</html>