<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻详情</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/product.css">
  <link rel="stylesheet" href="../css/news.css">
  <link rel="stylesheet" href="../css/news-detail.css">

</head>
<body>
  <div class="container">


	   <div class="header">
       <div class="header-wrap">
            <div class="header-left">
                 <img src="../images/img_03.gif" alt="">
             </div> 
            <div class="header-right">
                  <span><img src="../images/img_06.gif" alt=""></span>
                  <span><img src="../images/img_08.gif" alt=""></span>
                  <span><img src="../images/img_10.gif" alt=""></span>
            </div> 
       </div>   
	   </div>
 



	<div class="content">

	     <div class="line">
            <div class="nav">
      	        <ul>
      	             <li class="bottom"><a href="./../index.html">首页</a><i class="line-top line12"></i></li>
      	             <li><a href="./product.html">产品中心</a><i class="line-top"></i></li>
      	             <li><a href="./newscenter.html" class="product">新闻中心</a><i class="line-bottom"></i></li>
      	             <li><a href="./corp-intro.html">公司介绍</a><i class="line-top"></i></li>
      	             <li><a href="./contact-us.html">联系我们</a><i class="line-top"></i></li>
      	         </ul>
  	        </div>
      </div>

      <div class="banner1">
          <img src="../images/newbanners.png" alt=""/>
      </div>

      <div class="location">
            <div>
                    <span>当前位置</span>
                    <span>:</span>
                    <span>首页</span>
                    <span>&gt;&gt;</span>
                    <span>新闻中心</span>
                    <span>&gt;&gt;</span>
                    <span class="detail">新闻详情</span>
            </div>
                    
      </div>
      <div class="line3"></div>

  </div>

  <div class="newcontent">

    <div class="new-wrap">
         <div class="online-set">
               <h4>格林美居装饰工程公司官网正式上线</h4>
               <p>公司热搜词：</p>
               <p>苫布|防汛沙袋|北京苫布厂|充气帐篷|北京篷布厂|水池鱼池| 北京帆布厂|防火苫布|篷布厂|防水苫布|帆布厂|防水篷布|施工帐篷|工程帐篷</p>
               <div class="conference">
                     <i><img src="../images/new01.png" alt=""></i>
                     <p>官网筹备期间会议</p>
               </div>
         </div>

         <div class="intro">
              <div class="left"><img src="../images/building.png" alt=""></div>
              <div class="right">格林美居是一家新型的出口型综合性企业，专业从事各类户外帐篷及篷布和帆布制品的设计开发、生产与销售。公司从成立之初至今凭借一批熟练技工的精湛技艺和以诚信为本的销售策略，短短几年间已经从作坊式生产转型为规模化、体制化、精密化的现代企业。</div>

              <div class="left intro2"><img src="../images/new05.png" alt=""></div>
              <div class="right intro2-w">公司主营公司主营苫布,篷布、各种帐篷、防汛沙袋,帆布,门帘、防火布、充气水池、支架游泳池等产品。</div>
         </div>

             
    </div>

</div>
<div class="footer footer1">
     
        <div class="footer-wrap footer1"> 

            <div class="footer-nav">

                 <ul>
                     <li><a href="./../index.html">网站首页</a></li>
                     <li><i></i><a href="./corp-intro.html">公司介绍</a></li>
                     <li><i></i><a href="./product.html">产品中心</a></li>
                     <li><i></i><a href="./product - detail.html">产品详情</a></li>
                     <li><i></i><a href="./newscenter.html">新闻中心</a></li>
                     <li><i></i><a href="./newsdetail.html">新闻详情</a></li>
                     <li><i></i><a href="./contact-us.html">联系方式</a></li>
                     <li><i></i><a href="#">人才招聘</a></li>

                 </ul>
                 <p>&copy;2017 北京格林家居装饰工程有限公司 版权所有</p>
            </div>

        </div>



</div>

	
</body>
</html>