<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻中心</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/product.css">
  <link rel="stylesheet" href="../css/news.css">
</head>
<body>
  <div class="container">


	   <div class="header">
       <div class="header-wrap">
            <div class="header-left">
                 <img src="../images/img_03.gif" alt="">
             </div> 
            <div class="header-right">
                  <span><img src="../images/img_06.gif" alt=""></span>
                  <span><img src="../images/img_08.gif" alt=""></span>
                  <span><img src="../images/img_10.gif" alt=""></span>
            </div> 
       </div>   
	   </div>
 



	<div class="content">

	     <div class="line">
            <div class="nav">
      	        <ul>
      	             <li class="bottom"><a href="./../index.html">首页</a><i class="line-top line12"></i></li>
      	             <li><a href="./product.html">产品中心</a><i class="line-top"></i></li>
      	             <li><a href="./newscenter.html" class="product">新闻中心</a><i class="line-bottom"></i></li>
      	             <li><a href="./corp-intro.html">公司介绍</a><i class="line-top"></i></li>
      	             <li><a href="contact-us.html">联系我们</a><i class="line-top"></i></li>
      	         </ul>
  	        </div>
      </div>

      <div class="banner">
          <img src="../images/newsbanner.png" alt=""/>
      </div>

  </div>

  <div class="newcontent">

         <div class="new-wrap">

             <div class="new-nav">
                 <ul>
                     <li><i></i><a href="#">公司新闻</a></li>
                     <li><i></i><a href="#">社会生活</a></li>
                     <li><i></i><a href="#">产品讯息</a></li>
                     <li><i></i><a href="#">科技前沿</a></li>
                 </ul>
             </div>

             <div class="corp-nav">
                  <div class="nav-header"> 
                       <i></i>
                       <span>公司新闻</span>
                  </div>

                  <div class="new-list">
                      <div class="new-date">
                            <span class="date">2017-10-28</span>
                            <span class="more"><a href="#">m o r e &gt;&gt;</a></span>
                       </div>

                       <div class="new-detail">
                                <div class="img-left">
                                    <div>
                                         <i></i>
                                        <span><img class="max" src="../images/max.png"    alt=""></span>
                                    </div>
                                    
                                    <img src="../images/new01.png" alt="">
                                </div>

                                <div class="new-article">
                                     <h4>欢迎来到格林美居官网</h4>
                                     <p>是一家新型的出口型综合性企业，专业从事各类户外帐篷及篷布和帆布制品的设计开发、生产与销售。公司从成立之初至今凭借一批熟练技工的精湛技艺和以诚信为本的销售策略，短短几年间已经从作坊式生产转型为规模化、体制化、精密化的现代企业。</p>
                                </div>
                        </div>
                                 <div class="clearfix"></div>

                                <div class="new-date">
                                      <span class="date">2017-10-28</span>
                                      <span class="more more-color"><a href="#">m o r e &gt;&gt;</a></span>
                                 </div>
                         <div class="new-detail">

                                 <div class="img-left">
                                    <div>
                                         <i></i>
                                        <span><img class="max" src="../images/max.png"    alt=""></span>
                                    </div>
                                    <img src="../images/new01.png" alt="">
                                </div>

                                <div class="new-article">
                                     <h4>欢迎来到格林美居官网</h4>
                                     <p>是一家新型的出口型综合性企业，专业从事各类户外帐篷及篷布和帆布制品的设计开发、生产与销售。公司从成立之初至今凭借一批熟练技工的精湛技艺和以诚信为本的销售策略，短短几年间已经从作坊式生产转型为规模化、体制化、精密化的现代企业。</p>
                                </div>

                                <div class="clearfix"></div>

                                <div class="new-date">
                                      <span class="date">2017-10-28</span>
                                      <span class="more more-color"><a href="#">m o r e &gt;&gt;</a></span>
                                 </div>
                         <div class="new-detail">

                                 <div class="img-left">
                                    <div>
                                         <i></i>
                                        <span><img class="max" src="../images/max.png"    alt=""></span>
                                    </div>
                                    <img src="../images/new01.png" alt="">
                                </div>

                                <div class="new-article">
                                     <h4>欢迎来到格林美居官网</h4>
                                     <p>是一家新型的出口型综合性企业，专业从事各类户外帐篷及篷布和帆布制品的设计开发、生产与销售。公司从成立之初至今凭借一批熟练技工的精湛技艺和以诚信为本的销售策略，短短几年间已经从作坊式生产转型为规模化、体制化、精密化的现代企业。</p>
                                </div>

                                <div class="clearfix"></div>

                                <div class="new-date">
                                      <span class="date">2017-10-28</span>
                                      <span class="more more-color"><a href="#">m o r e &gt;&gt;</a></span>
                                 </div>
                         <div class="new-detail">

                                 <div class="img-left">
                                    <div>
                                         <i></i>
                                        <span><img class="max" src="../images/max.png"    alt=""></span>
                                    </div>
                                    <img src="../images/new01.png" alt="">
                                </div>

                                <div class="new-article">
                                     <h4>欢迎来到格林美居官网</h4>
                                     <p>是一家新型的出口型综合性企业，专业从事各类户外帐篷及篷布和帆布制品的设计开发、生产与销售。公司从成立之初至今凭借一批熟练技工的精湛技艺和以诚信为本的销售策略，短短几年间已经从作坊式生产转型为规模化、体制化、精密化的现代企业。</p>
                                </div>
                       </div>

                  </div>
             </div>


             <div class="page heightchange">
                  <ul>

                    <li class="before"><a href="#">上一页</a></li>
                     <li class="no1"><a href="">1</a></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">4</a></li>
                     <li class="dots"><a href="#">...</a></li>
                     <li class="before"><a href="#">下一页</a></li>
                  </ul>
            </div>


    </div>

</div>
<div class="footer footer1">
     
        <div class="footer-wrap footer1"> 

            <div class="footer-nav">

                 <ul>
                     <li><a href="./../index.html">网站首页</a></li>
                     <li><i></i><a href="./corp-intro.html">公司介绍</a></li>
                     <li><i></i><a href="./product.html">产品中心</a></li>
                     <li><i></i><a href="./product - detail.html">产品详情</a></li>
                     <li><i></i><a href="./newscenter.html">新闻中心</a></li>
                     <li><i></i><a href="./newsdetail.html">新闻详情</a></li>
                     <li><i></i><a href="./contact-us.html">联系方式</a></li>
                     <li><i></i><a href="#">人才招聘</a></li>

                 </ul>
                 <p>&copy;2017 北京格林家居装饰工程有限公司 版权所有</p>
            </div>

        </div>



</div>


  <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../js/newscenter.js"></script> 
	
</body>
</html>