<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/product.css">
  <link rel="stylesheet" href="../css/product-detail.css">
</head>
<body>
  <div class="container">


	   <div class="header">
       <div class="header-wrap">
            <div class="header-left">
                 <img src="../images/img_03.gif" alt="">
             </div> 
            <div class="header-right">
                  <span><img src="../images/img_06.gif" alt=""></span>
                  <span><img src="../images/img_08.gif" alt=""></span>
                  <span><img src="../images/img_10.gif" alt=""></span>
            </div> 
       </div>   
	   </div>


  	<div class="content">
  	     <div class="line">
              <div class="nav">
    	            <ul>
      	             <li class="bottom"><a href="./../index.html">首页</a><i class="line-top line12"></i></li>
      	             <li><a href="./product.html" class="product">产品中心</a><i class="line-bottom"></i></li>
      	             <li><a href="./newscenter.html">新闻中心</a><i class="line-top"></i></li>
      	             <li><a href="./corp-intro.html">公司介绍</a><i class="line-top"></i></li>
      	             <li><a href="./contact-us.html">联系我们</a><i class="line-top"></i></li>
    	           </ul>
                 <div class="location">
                    <span>当前位置</span>
                    <span>:</span>
                    <span>首页</span>
                    <span>&gt;&gt;</span>
                    <span>产品中心</span>
                    <span>&gt;&gt;</span>
                    <span class="detail">产品详情</span>
                </div>
  	        </div>
        </div>

        <div class="bold-line"></div>
    </div>


    <div class="price">
         <div class="price-wrap">

               <div class="img-detail">
                    <span class="big-img"><img src="../images/fire08.gif" alt=""></span>
                    <div class="gelin">
                         <img src="../images/gelin.gif" alt="">
                    </div>

                    <div class="small-img">
                         <span class="first"><img src="../images/1.png" alt=""></span>
                         <span><img src="../images/2.png" alt=""></span>
                         <span><img src="../images/blue.png" alt=""></span>
                         <span><img src="../images/yellow.png" alt=""></span>
                         
                    </div>
               </div>

               <div class="product">
                    <p>名&nbsp;称</p>
                    <p class="describe">格林美居&nbsp;&nbsp;&nbsp;民政部标准救灾帐篷&nbsp;&nbsp;&nbsp;户外民用应急救援抗震抗洪抢险帐篷ZEDF80451<i></i></p>
                    <p>价格</p>
                    <p class="amount-price">&yen;1000.00元/顶<span>（5-6人帐篷)</span></p>
                    <div class="feature">
                        <p>特&nbsp;点：</p>
                        <p class="feature-detail">全自动、空间大、防晒防雨、防紫外线、防蚊虫、颜色可选定制</p>
                    </div>
                    <p class="tel">订购咨询电话：0771-282931</p>
                    <div class="icon">
                         <span><img src="../images/icon_06.gif" alt=""></span>
                         <span><img src="../images/icon_08.gif" alt=""></span>
                         <span><img src="../images/icon_10.gif" alt=""></span>
                         <span><img src="../images/icon_12.gif" alt=""></span>
                         <span><img src="../images/icon_14.gif" alt=""></span>
                         <span><img src="../images/icon_16.gif" alt=""></span>
                    </div>
               </div>
         </div>
        



        
        
             <div class="step-nav">
                   <div class="nav-wrap">
                      <ul>
                          <li><a href="#">产品详情</a></li>
                          <li class="index"><a href="#">产品参数</a></li>
                          <li><a href="#">图片展示</a></li>
                          <li><a href="#">细节展示</a></li>
                          <li><a href="#">使用方法</a></li>
                      </ul>
                  </div>
              </div>

                  <div class="product-index">
                      <ul>
                          <li>货号: 1</li>
                          <li>搭建情况: 免搭建速开</li>
                          <li>帐篷空间结构: 一居室</li>
                          <li>外帐材质: PVC</li>
                          <li>价格区间: 1501-2000元</li>
                      </ul>

                      <ul>
                          <li>帐篷大小: 单人</li>
                          <li>展开尺寸(长*宽*高 cm): 3*2*1.5</li>
                          <li>产地: 中国</li>
                          <li>外帐防水指数: 小于1000mm</li>
                          <li>支架材质: 其他</li>
                      </ul>

                       <ul>
                          <li>帐篷结构: 单层帐</li>
                          <li>适应季节: 夏季帐</li>
                          <li>帐底材质: PVC</li>
                          <li>帐底防水指数: 小于1000mm</li>
                          <li>品牌: 川京</li>
                      </ul>

                  </div>

                  <div class="feature-img">
                     <div class="wrap01">
                        <div class="img01">
                              <div class="img-f">
                                   <img src="../images/circle2.png" alt="">
                              </div>
                              <div class="word-f">
                                  <p>卷帘放下防雨水、遮光性强</p>
                                  <p>防蚊虫</p>
                                  <p>透气强</p>
                              </div>
                        </div>

                        <div class="img01 img02">
                              <div class="img-f img-f01">
                                   <img src="../images/circle01.png" alt="">
                              </div>
                              <div class="word-f word-f01">
                                  <p>粘合处宽，不怕撕裂</p>
                                  <p>帐篷脚多余的布防水溅起</p>
                              </div>
                        </div>
                      </div>

                        <div class="img-right">
                             <img src="../images/fire03.png" alt="">
                        </div>
                        
                    </div>

                    <div class="product-sort">
                         <div>
                              <img src="../images/fire01.png" alt="">
                              <span class="boxcomm">深蓝色</span>
                         </div>

                         <div>
                              <img src="../images/fire04.png" alt="">
                              <span class="boxcomm box2">浅蓝色</span>
                         </div>

                         <div>
                              <img src="../images/fire05.png" alt="">
                              <span class="boxcomm box3">橘黄色</span>
                         </div>
                    </div>

                    <div class="install">
                         <h4>安装方法</h4>
                         <div class="ins-left">
                               <div class="ways">
                                    <div class="waycomm">
                                          <p>装帐篷顶部，先将人字梁安好，用横梁把人字架连接起来。</p>
                                          <span>1</span>
                                     </div>
                                     <div class="waycomm way2">
                                          <p>将人字梁上的拉筋上好，然后用法兰把拉筋上紧。</p>
                                          <span>2</span>
                                     </div>
                                     <div class="waycomm way3">
                                          <p>把大顶篷布盖在人字架上面，把每个绳头与人字架系好，固定好。</p>
                                          <span>3</span>
                                     </div>
                                     <div class="waycomm way4">
                                          <p>将立杆（边腿）插在横梁连接处，两边一样，都插好，安装门口立杆。</p>
                                          <span>4</span>
                                     </div>
                                     <div class="waycomm way5">
                                          <p>将山、围墙布对好位置挂上，绳头与檀条和立杆系好。</p>
                                          <span>5</span>
                                     </div>
                                     <div class="waycomm way6">
                                          <p>安装完成后，将帐篷拉绳和地锚装上（这样才能将帐篷固定好），然后将帐篷四周用土堰好，防水、风进帐篷内。</p>
                                          <span>6</span>
                                     </div>
                               </div>
                                   
                         </div>

                         <div class="ins-right">
                              <div class="rightcomm">
                                   <img src="../images/step1.png" alt="">
                                   <span>1</span>
                              </div>
                              <div class="rightcomm">
                                   <img src="../images/step2.png" alt="">
                                   <span>2</span>
                              </div>
                              <div class="rightcomm imgmove img3">
                                   <img src="../images/step3.png" alt="">
                                   <span>3</span>
                              </div>
                              <div class="rightcomm imgmove img4">
                                   <img src="../images/step4.png" alt="">
                                   <span>4</span>
                              </div>
                              <div class="rightcomm imgmove">
                                   <img src="../images/step5.png" alt="">
                                   <span>5</span>
                              </div>
                              <div class="rightcomm imgmove">
                                   <img src="../images/step6.png" alt="">
                                   <span>6</span>
                              </div>
                         </div>


                    </div>

    </div>


     <div class="footer footerchange">
     
        <div class="footer-wrap footerchange"> 

            <div class="footer-nav">

                 <ul>
                     <li><a href="./../index.html">网站首页</a></li>
                     <li><i></i><a href="./corp-intro.html">公司介绍</a></li>
                     <li><i></i><a href="./product.html">产品中心</a></li>
                     <li><i></i><a href="./product - detail.css">产品详情</a></li>
                     <li><i></i><a href="./newscenter.html">新闻中心</a></li>
                     <li><i></i><a href="./newsdetail.html">新闻详情</a></li>
                     <li><i></i><a href="./contact-us.html">联系方式</a></li>
                     <li><i></i><a href="#">人才招聘</a></li>

                 </ul>
                 <p>&copy;2017 北京格林家居装饰工程有限公司 版权所有</p>
            </div>

        </div>
    </div>

</div>


</div>



	
</body>
</html>