<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品中心</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/product.css">
</head>
<body>
  <div class="container">


	   <div class="header">
       <div class="header-wrap">
            <div class="header-left">
                 <img src="../images/img_03.gif" alt="">
             </div> 
            <div class="header-right">
                  <span><img src="../images/img_06.gif" alt=""></span>
                  <span><img src="../images/img_08.gif" alt=""></span>
                  <span><img src="../images/img_10.gif" alt=""></span>
            </div> 
       </div>   
	   </div>
 



	<div class="content">

	     <div class="line">
            <div class="nav">
	         <ul>
	             <li class="bottom"><a href="../index.html">首页</a><i class="line-top line12"></i></li>
	             <li><a href="#" class="product">产品中心</a><i class="line-bottom"></i></li>
	             <li><a href="./newscenter.html">新闻中心</a><i class="line-top"></i></li>
	             <li><a href="./corp-intro.html">公司介绍</a><i class="line-top"></i></li>
	             <li><a href="./contact-us.html">联系我们</a><i class="line-top"></i></li>
	         </ul>
	       </div>
      </div>

    <div class="banner">
        <img src="../images/banner.png" alt=""/>
    </div>


    <div class="main">
          
         <span class="wall"><img src="../images/wall.png" alt=""></span>

          <div class="pic-list">

               <div class="pic-nav">
                    <ul class="nav-bottom">
                       <li class="computer">
                         <i><img src="../images/电脑.png" alt=""></i>
                         <a href="#"><img src="../images/word_03.gif" alt=""></a>
                       </li>
                       <li>
                         <i><img src="../images/齿轮.png" alt=""></i>
                         <a href="#"><img src="../images/word_05.gif" alt=""></a>
                       </li>
                       <li>
                         <i><img src="../images/上升.png" alt=""></i>
                         <a href="#"><img src="../images/word_07.gif" alt=""></a>
                       </li>
                       <li>
                         <i><img src="../images/手捧.png" alt=""></i>
                         <a href="#" class="hand"><img src="../images/word_09.png" alt=""></a>
                       </li>
                    </ul>

                    <div class="tent-pic">
                     
                       <div class="tent-top"><img src="../images/bg02_16.png" alt=""></div>
                       <div class="shadow"></div>

                    </div>

               </div>


            <div class="pic">

              <ul class="big-pic">
                   <li class="big cover">
                       
                        <div class="cover-color">
                                <i></i>
                                <div  class="bigSquare">
                                      <div></div>
                                </div>
                                <span>普通户外露营帐篷</span>

                        </div>
                   <img src="../images/tent05.png" alt=""></li>
                   <li class="big-next cover">
                     <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>

                                  <span>充气帐篷</span>
                      </div>
                     <img src="../images/gastent.png" alt="">
                   </li>
                   <li class="big-next cover">
                     <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                     <img src="../images/tent04.png" alt="">
                   </li>
                   <li class="big-next cover">
                      <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      <img src="../images/tent03.png" alt="">
                   </li>
                   <li class="big-next cover">
                     <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      <img src="../images/tent02.png" alt="">
                   </li>
                   <li class="big-next cover">
                      <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      <img src="../images/gastent.png" alt="">
                   </li>
                   <li class="big-next cover">
                      <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      <img src="../images/tent04.png" alt="">
                   </li>
                   <li class="big-next cover">
                      <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      
                      <img src="../images/tent03.png" alt="">
                   </li>
                   <li class="big-next cover">
                  <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                        
                  
                   <img src="../images/tent02.png" alt="">
                   </li>
                   <li class="big-next cover">
                  <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      
                  
                   <img src="../images/gastent.png" alt="">
                   </li>
                   <li class="big-next  cover">
                  <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      
                  
                   <img src="../images/tent04.png" alt="">
                   </li>
                   <li class="big-next cover">
                  <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      
                  
                   <img src="../images/gastent.png" alt="">
                   </li>
                   <li class="big-next cover">
                  <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      
                  
                   <img src="../images/tent04.png" alt="">
                   </li>
                   <li class="big-next cover">
                  <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      
                  
                   <img src="../images/tent03.png" alt="">
                   </li>
                   <li class="big-next cover">
                  <div class="square-small">
                                  <i></i>
                                  <div  class="bigSquare">
                                        <div></div>
                                  </div>
                                  <span>充气帐篷</span>
                      </div>
                      
                  
                   <img src="../images/tent02.png" alt="">
                   </li>

              </ul>
             
          </div>

        </div>


        <div class="page">

             
              <ul>

                <li class="before"><a href="#">上一页</a></li>
                 <li class="no1"><a href="">1</a></li>
                 <li><a href="#">2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">4</a></li>
                 <li class="dots"><a href="#">...</a></li>
                 <li class="before"><a href="#">下一页</a></li>
              </ul>
        </div>

    </div>
  </div>

</div>
</div>
</div>


<div class="footer">
     
        <div class="footer-wrap"> 

            <div class="footer-nav">

                 <ul>
                     <li><a href="./../index.html">网站首页</a></li>
                     <li><i></i><a href="./corp-intro.html">公司介绍</a></li>
                     <li><i></i><a href="./product.html">产品中心</a></li>
                     <li><i></i><a href="./product - detail.html">产品详情</a></li>
                     <li><i></i><a href="./newscenter.html">新闻中心</a></li>
                     <li><i></i><a href="./news-detail.html">新闻详情</a></li>
                     <li><i></i><a href="./contact-us.html">联系方式</a></li>
                     <li><i></i><a href="#">人才招聘</a></li>

                 </ul>
                 <p>&copy;2017 北京格林家居装饰工程有限公司 版权所有</p>
            </div>

        </div>



</div>



<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/product.js"></script>	
</body>
</html>